body {
  background-color: #151419;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

/* ratings wrapper */
.ratings-wrapper {
  box-sizing: border-box;
  background-color: #1f2731;
  position: absolute;
  width: 375px;
  height: 375px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  padding: 25px;
  transform: translate(-50%, -50%);
}

.star-wrapper {
  background-color: #272e38;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  margin: 20px 0;
  color: hsl(0, 0%, 100%);
}

.desc {
  margin-top: 30px;
  color: hsl(217, 12%, 63%);
}

.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.score-number {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #272e38;
  color: hsl(217, 12%, 63%);
}

.rating-submit {
  background-color: hsl(25, 97%, 53%);
  outline: none;
  border: none;
  width: 70%;
  padding: 15px 0;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.score-number:hover {
  background-color: hsl(217, 12%, 63%);
  color: #fff;
}

/* apply classes to the rating score selected */
.active {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
}

.rating-submit:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
}

@media (max-width: 400px) {
  .ratings-wrapper {
    overflow: auto;
    width: 80vw;
    height: 80vw;
    padding: 5px;
  }

  .star-wrapper {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }

  .title {
    margin: 0 0.5em;
    font-size: 1.5rem;
  }

  .desc {
    margin: 0 0.5em;
  }

  .score-container {
    margin: 0.75rem;
  }
  .score-number {
    width: 2rem;
    height: 2rem;
  }

  .rating-submit {
    width: 50vw;
    margin-top: 5px;
    padding: 0.5em;
  }
}
/* end of ratings wrapper */

/* thank wrapper */
.thank-wrapper {
  display: none;
  /* display: flex; */
  box-sizing: border-box;
  background-color: #1f2731;
  position: absolute;
  width: 375px;
  height: 375px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  padding: 25px;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.thank-wrapper .image-top {
  margin-top: 1em;
}

.show-score {
  height: 1.5em;
  width: 15em;
  background-color: #272e38;
  font-size: smaller;
  color: hsl(25, 97%, 53%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.thank-wrapper h4 {
  color: #fff;
  font-size: 1.5rem;
  margin: 1em 0 0 0;
}

.desc2 {
  color: hsl(217, 12%, 63%);
  text-align: center;
  font-size: 1rem;
  margin: 1em 0 0 0;
}

@media (max-width: 400px) {
  .thank-wrapper {
    overflow: auto;
    width: 80vw;
    height: 80vw;
    padding: 5px;
  }
  .image-top {
    width: 45%;
  }
  .image-top img {
    width: 100%;
  }
  .thank-wrapper h4 {
    font-size: 1.2rem;
    margin: 0.8em 0 0 0;
  }
  .desc2 {
    font-size: 0.8rem;
    margin: 0.8em 0 0 0;
  }
}

/* end of thank wrapper */

/* attribution from front mentor*/
.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
